@import '~materialize-css/dist/css/materialize.min.css';

.register-btn {
    margin-left: 10px;
}

input.yellow-input {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input:focus {
    border-bottom: 1px solid #ffeb3b !important;
    box-shadow: 0 1px 0 0 #ffeb3b !important;
}

input.yellow-input:focus + label {
    color: #ffeb3b !important;
}

.nav-wrapper {
    padding: 0px 20px;
}

.container-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}